.page-3 {

  & .container {
    position: relative;
    width: 100%;
    display: flex;
    background: radial-gradient(33.8% 119.42% at 47.68% 67.95%, #FFC2D1 6.9%, #EF94A9 44.27%, #E780A5 100%);
    @include lg-block {
      flex-direction: column;
    }
  }

  & .content__left {
    width: 50vw;
    margin: 0;
    padding-top: 10.4vh;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url("../img/page3/decor.png");
    }
    @include lg-block {
      width: 100%;
      height: 80vh;
    }

    @include sm-block {
      width: 100%;
      height: 60vh;
    }
  }

  & .content__right {
    overflow: initial;
    width: 50vw;
    margin: 0;
    z-index: 1;
    padding-top: 23.65vh  /* 233/9.85 */;
    padding-left: 6.771vw  /* 130/19.2 */;
    padding-right: 8.75vw  /* 168/19.2 */;

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background: url("../img/page3/bg.png") no-repeat center;
      background-size: cover;
      max-width: 1232px;;
      width: 100%;
      height: 100%;
    }
    @include lg-block {
      padding-top: 40px;
      width: 100%;
    }
  }


  &__title {
    font-weight: 800;
    font-size: 80px;
    line-height: 84px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fff;
  }

  &__text {
    max-width: 670px;
    margin-top: 4.4vh;
    margin-bottom: 5.7vh;
    font-family: Geometria, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #fff;

    & a {
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      white-space: nowrap;
    }
  }

  &__buttons {
    display: flex;
  }

  & .button {
    margin-right: 1.5625vw  /* 30/19.2 */;
    margin-bottom: 1.5625vw  /* 30/19.2 */;
    @include lg-block {
      margin-right: 16px;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}